<div class="sorry-container">
  <div class="card">
    <div class="gif-container">
      <img src="https://media.tenor.com/tJB2op7WAbQAAAAM/trying-not-to-laugh-laughing.gif" 
           alt="Ha Ha GIF" class="funny-gif">
    </div>

    <h1 class="title">Scan ကို ခိုးဖတ်ဖို့ မကြိုးစားပါနဲ့တော့..<br>
      <span class="highlight">ထပ်မိပြန်ပြီ အမှတ်မရှိ အရှက်မရှိဘူးနော်✋</span>
    </h1>
    
    <p class="warning-text">ခင်ဗျား ဒီနေရာကို ဘယ်လိုရောက်လာတာလဲ?</p>
    
    <div class="joke-box">
      <p class="joke-content">" {{ joke }} "</p>
    </div>

    <button class="retry-btn" (click)="generateRandomJoke()">နောက်တစ်ခါ ထပ်ဖတ်မယ်</button>
  </div>
</div>